body{
    margin: 0;
    padding:10px;
    padding-bottom:60px;
    background-color: #efefef;
}
img.index-img{
    position: fixed;
    width: 100%;
    left:0px;
    top:0px;
    height: 350px;
    z-index: 0;
}
header{
    position: fixed;
    width: 100%;
    left:0px;
    top:0px;
    padding: 10px;
    z-index: 2;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
}
header p{
    float: left;
    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    margin: 0px 0px 0px 45px; 
    border-radius: 50%;
    position: relative;
}
header p.logo label{
    position: absolute;
    font-size: 25px;
    z-index: 3;
    top: 6px;
    left: 13px;
}

header a{
    float: right;
    margin: 8px 45px 0px 0px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header ul{
    float: right;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
header ul li{
    display: inline;
}
footer{
    background-color:rgb(36, 35, 34);
    position: fixed;
    padding: 5px;
    color: white;
    text-align: center;
    width: 99%;
    z-index: 1;
    bottom: 0;

}


.logo img{
    width: 40px;
    height: 40px;
}
.main-content{
    position: absolute;
    z-index: 1;
    background: white;
    width: 92%;
    top: 250px;
    margin-left: 3.5%;
    padding: 15px;
    overflow: auto;
    background-color: darkgrey;
}
.main-content .signup-sec{
    width: 49%;
    float: left;
}
.main-content .login-sec{
    width: 49%;
    
    margin:0 auto;
}
.login-sec form, .login-sec h3, .login-sec p{
    margin-left: 100px;
}
.login-sec form label{
    display: block;
    margin-bottom: 10px;
}
.login-sec form input[type = "text"], .login-sec form input[type = "password"]{
    margin: 0px 0px 10px 0px;
    padding: 15px 20px;
    width: 70%;
    
}
input[type=text] {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
input[type=password] {
    width: 100%;
    padding: 30px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    
}
    

.login-sec form p{
    margin:10px 0px 10px 0px;
}
.signup-sec form {
    margin-left: 100px;

}
.login-sec form button{
    border: none;
    margin:0px 0px 10px 0px;
    padding: 10px 15px;
}
.main-content .profile-info{
    float: left;
    width: 25%;
}
.main-content .profile-info img{
    position: relative;
    width: 80%;
    padding: 10px;
    background-color: white;
    border: 1.5px solid silver;
}
tr:nth-child(even) {background-color: rgb(51, 168, 51);}
.lft{
    text-align: left;
}
.ctr{
    text-align: center;
}
.rgt{
    text-align: right;
}
.main-content .personal-parcels{
    float: left;
    width: 72%;
    margin-left: 25px;
}
#msg{

    text-align: center;
    color: red;
}
.textarea{
    width: 84%;
    height: 100px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.active, .btn:hover {
    background-color:red;
    color: white;
  }
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
.active {
    background-color: #4CAF50;
    color: white;
}
.main-content .main-content-center{
    width: 60%;
    margin: auto;
}



.cancel-button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin-top: 10px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;

}

.parcel-filter{
    display: flex;
}
.parcel-filter h1 {
    flex-grow: 1;
}
.parcels {
    display: flex;
    flex-wrap: wrap;
}
.parcels {
    display: flex;
    flex-wrap: wrap;
}
  
.parcel-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
  
    display: flex;
}
.parcel-card {
    flex: 1 16%;
}
.parcel-info {
    margin-top: auto;
}
@media (max-width: 920px) {
    .parcel-card {
      flex: 1 21%;
    }
  }
@media (max-width: 480px) {
    .parcel-filter {
      flex-direction: column;
    }
  
}



textarea {
    width: 96%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.cancel-labels {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.cancel-fields {
    float: left;
    width: 75%;
    margin-top: 6px;
}



@media screen and (max-width: 600px) {
    .cancel-labels, .cancel-fields, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}